body{
    background-image: url("../images/fancy-pants.jpg");
    color: #ddd;
}

footer{
    background-color: #2E2D35;
    border-top: 2px solid #ddd;
    box-shadow: 5px -10px 8px 10px black;
    height: 80px;
    margin-top  : 25px; 
}

header{
    background-color: #2E2D35;
    border-bottom: 2px solid #ddd;
    box-shadow: 5px 10px 8px 10px black;
    height: 80px;
    margin-bottom: 20px;
    padding: 0px;
}

.container{
    max-width: 960px;
    /* position: relative; */
}

.content-body{
    background-color: #777;
    border: 2px solid greenyellow;
    border-radius: 10px;
    height: 500px;
    position: relative;
}

.header-title{
    height: 80px;
    padding: 15px;
    position: absolute;
    top: 0;
}

.option-button-div{
    width:24.5%;
    display:inline-block;
}

.testImg{
    height: 300px;
    display: block;
    margin: auto;
}

.imgDiv{
    height: 300px;
    background-color: black;
}

#question{
    border-top: 1px solid greenyellow;
    border-bottom: 1px solid greenyellow;
    height: 70px;
    padding:20px;
}

#response{
    margin-top: 20px;
}

#result{
    font-style: italic;
    margin-top: 15px;
}






.flyout{
    background-color: #777;
    border-radius: 10px;
    color: #35A007;
    position: relative;
    /* max-width: 500px; */
    top: -100px;
    z-index: 1;
    border: 1px solid;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 5px 10px 8px #888;
}

